*.rbc
.irb_history
capybara-*.html
.rspec
/log
!/log/.keep
/tmp
/db/*.sqlite3
/db/*.sqlite3-journal
/public/system
/coverage/
/spec/tmp
*.orig

*.apk

config/initializers/secret_token.rb
config/master.key
config/secrets.yml

.env

/.bundle
/vendor/bundle

.rvmrc
.byebug_history

node_modules/
npm-debug.log
/yarn-error.log
yarn-debug.log*
.yarn-integrity

/public/packs
/public/packs-test
/public/assets

/storage/*
!/storage/.keep

/public/packs
/public/packs-test
/node_modules
/yarn-error.log
yarn-debug.log*
.yarn-integrity
